# Postgres (ex: Neon - https://neon.tech)
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="gera-com-openssl-rand-base64-32"
